ErrorDocument 404 /SugarFW/routers/router.php
Options +FollowSymLinks -Indexes -MultiViews
RewriteEngine on
RewriteBase /

RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule .* - [L]

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
RewriteRule ^ sugarRouter.php [L]